* {
    margin:auto ;
    padding:0;
    box-sizing: border-box ;
    font-family:'Roboto', sans-serif;
    
}
body {
    background-color:#72c8c1;
    background-position:center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat:no-repeat ;
}
.titulo {
    font-size:26px;
    margin-bottom:20px;
    padding-bottom:20px;
    color:#000;
}
.formulario {
    background-color:#eafefe;
    width:460px;
    padding:30px;
    margin:auto ;
    margin-top:100px;
}
p {
    padding:5px;
    font-size:18px;
    color:#000;
}
.cajas {
    width:100%;
    padding:30px;
    border-radius:5px;
    border:none;
    margin-bottom:20px;
    font-size:15px;
    border-left:20px solid #239089;
    border-right:20px solid #239089;

}
textarea {
    width:100%;
    height:100px;
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    border-radius: 10px;}
select {
    width:40%;
    padding:30px;
    border-radius:5px;
    border:none;
    margin-bottom:20px;
    font-size:15px;
    border-left:20px solid #239089;
    border-right:20px solid #239089;
    transition: all .3s ease;
}
.btn {
    display:inline-block ;
    float:right ;
    width:40%;
    padding-top:15px;
    border:none;
    border-radius:5px;
    background:#008259;
    color:#000;
    font-size:15px;
    cursor:pointer ;
    margin:5%;
}
@media (max-width:425px) {
    .titulo{
        font-size:1.8rem;
    }
}
